/* ===================================================================Tạo Base */
* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ============================================================Thuộc tính chung */
a {
  text-decoration: none;
}

.main_content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

.main_content .btn {
  min-width: 118px;
  line-height: 50px;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  background: #171100;
  border-radius: 999px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700px;
  line-height: 1.26;
  letter-spacing: -0.76px;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.break-all {
  word-break: break-all;
}
/* ================================================================Phần Header */
.header {
  background: #fffcf4;
}

.fixed {
  z-index: 1;
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0px 8px;
}

.nav ul {
  display: flex;
}

.nav {
  margin-left: auto;
}

.nav a {
  position: relative;
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
}

.nav a:hover,
.nav li.active a {
  color: #171100;
  font-size: 1.6rem;
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  left: 21px;
  bottom: 6px;
  position: absolute;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  flex-shrink: 0;
  border-radius: 1px;
  background: #171100;
}

.action .sign-up {
  margin-left: 49px;
  min-width: 144px;
  border-radius: 24.5px;
  background: #171100;
}
/* =================================================================Phần HERO */
.hero {
  padding: 56px 0 64px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}

.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  background: url(<path-to-image>) lightgray -448.75px 0px / 218.672% 100% no-repeat;
}

.hero .content-block {
  width: 52%;
}

.hero .summary {
  position: absolute;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  bottom: 48px;
  right: 0px;
  width: 270px;
  flex-shrink: 0;
  padding: 24px;
}

.summary .item {
  display: flex;
  align-items: center;
}

.summary .icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

.summary .icon2 {
  background-color: #fcefff;
}

.summary .icon3 {
  background-color: #ebeaff;
}

.summary .info {
  margin-left: 16px;
}

.summary .info .top {
  color: #5f5b53;
  font-size: 1.4rem;
  font-style: normal;
  line-height: 1.85;
}

.summary .info .bot {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.summary .item + .item {
  margin-top: 22px;
}

.hero .content-block {
  margin-left: 130px;
  margin-top: 64px;
}

.hero .title {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
  margin-top: 22px;
}

.hero .cta-group {
  margin-top: 38px;
  align-items: center;
  display: flex;
}
.hero .cta-group .See-courses {
  min-width: 180px;
  line-height: 64px;
  background: var(--primary-color);
}

.hero .cta-group .watch-video {
  border: none;
  background-color: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}

.watch-video .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
  margin-right: 14px;
}

.watch-video span {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.hero .content-block .desc1 {
  margin-top: 48px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.hero .content-block .desc2 {
  margin-top: 8px;
}

.hero .desc2 strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.22;
  margin-right: 15px;
}

.hero .desc2 strong:nth-child(2) {
  margin-left: 28px;
}
/*============================================================ Phần Popular */
.popular {
  padding: 65px 0px;
  margin-top: 135px;
}

.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.popular-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular-top .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular-top .control {
  display: flex;
  gap: 18px;
}

.popular-top .control-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.popular .popular-bot {
  gap: 30px;
  margin-top: 55px;
  display: flex;
}

.popular-bot .thumb {
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  height: 278px;
  width: 100%;
}

.popular-bot .item {
  border-radius: 12px;
  border: 1px solid #e2dfda;
  background: #fff;
  width: 370px;
  height: 466px;
}

.popular-bot .item:hover {
  border: 1px solid transparent;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.popular-bot .info {
  padding: 16px 22px 22px;
}
.popular-bot .info .foot,
.popular-bot .info .rating,
.popular-bot .info .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-bot .info .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

.popular-bot .info .value {
  color: #fea31b;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-left: 6px;
}

.popular-bot .info .desc {
  width: 326px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
  margin-top: 6px;
}

.popular-bot .info .btn-book {
  margin-top: 12px;
  width: 118px;
  height: 50px;
  border-radius: 25px;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.85;
}

.popular-bot .info .btn-book:hover {
  border: none;
  background-color: var(--primary-color);
}

.popular-bot .info .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66;
}

/* ============================================================Phần Feedback */
.feedback {
  margin-top: 135px;
  padding: 96px 0px;
  background: #2e2100;
}

.feedback .feedback-item {
  display: flex;
}

.feedback-item .info .ava {
  object-fit: cover;
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.feedback-item .info .member {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.41;
}

.feedback-item .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.85;
}

.feedback-item .info .dots {
  gap: 8px;
  display: flex;
  margin-top: 28px;
}

.feedback-item .info .dot {
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
}

.feedback-item .info .dot.active {
  background: var(--primary-color);
  cursor: default;
}

.feedback-item .content {
  width: 66%;
  margin-left: auto;
}

.feedback-item .content blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.53;
  margin-left: 30px;
}

/*================================================================= Phần Features 1 */

.features {
  padding: 65px 0px;
  margin-top: 135px;
}

.features .body {
  justify-content: space-between;
  display: flex;
}

.features .image {
  gap: 30px;
  display: flex;
}

.features .image img {
  width: 270px;
  height: 405px;
  border-radius: 16px;
  object-fit: cover;
}

.features .image .lower {
  margin-top: 34px;
  height: 404px;
}

.features .content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features .heading-lv2 {
  width: 470px;
}

.features .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.features .cta-btn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  border-radius: 26px;
  background: var(--primary-color);
}

/*================================================================= Phần Features 2*/

.features-2nd {
  margin-top: 70px;
}

.features-2nd .body {
  flex-direction: row-reverse;
}

.features-2nd .content {
  width: 48%;
}

.features-2nd .heading-lv2 {
  width: 570px;
}

.features-2nd .image img {
  width: 470px;
  height: 440px;
  border-radius: 20px;
}

.features-2nd .desc {
  width: 570px;
}
